div{
	background-color: #8B4513;
	border: 2pix solid;
	height: 150px;
	width: 200px;
}
.b{background-color: #008000;
	height: 100px;
	width: 40%;
	border: 5px dotted #9400D3;
	position: relative;
}
.b1{background-color: #FFDAB9;
	height: 100px;
	width: 50%;
	border: 7px dotted #00FF00;
	position: relative;
}
.b1{background-color: #90EE90;
	height: 100px;
	width: 100%;
	border: 5px dotted #FFC0CB;
	position: relative;
}

.P{
	height: 50%;
}

li{
	padding: 100px 10px;
}
