div {
	border: 2px solid green;
	height: 150px
	background-color: #39CC00;
	}
	.a1 {
		border: 2px solid blue;
		height: 100px
		float: left;
		background-color: #1EA0E0;
		}
	.a2 {
		border: 2px solid white;
		height: 100px
		float: right;
		background-color: #1EA0E0;
		position: relative;
		width: 215;
		}
	.a3 {
		border: 2px solid orange;
		height: 150px
		position: relative;
		}
	.P {
		height: 50%;
	   }
	li {
		display: inline-block;
		border: 10px solid #6FA8;
		padding: 50px 50px;
		}
